body{
    color: var(--text-color);
    font-size: 16px;
    font-family: var(--font-family);
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "pnum";
    font-feature-settings: "pnum";
    font-variant-numeric: proportional-nums;
    font-weight: normal;
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-stretch: normal;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.heading{
    background: #000000;
    color: white;
    font-size: 14px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 20px;
    overflow: hidden;
    height: 57px;
}

a{
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: bold;
    color: white;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(98, 89, 89);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: flex;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }

  .product-items a{
    font-size: 13px;
  }

  .product-items li{
    margin:  0 11px;
  }
  
  li a:hover {
    background-color:white;
  }
  
  /* .active {
    background-color: #4CAF50;
  } */

  .nav-div{
      display: flex;
      justify-content: space-between;
      padding: 30px 0;
      width: 55%;
      display: flex;
  }

  nav{
      display: flex;
      justify-content: center;
  }

  .content{
    /* padding: 30px 0; */
    display: flex;
    justify-content: center;
  }

  .front-content{
      display: grid;
      /* place-items: center; */
  }

  .front-content h2{
      font-weight: 500;
      color: gray;
  }

  .button-container{
      display: flex;
      align-items: center;
  }

  .btn-create{
    color: white;
    font-size: 14px;
    font-weight: bold;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-letter-spacing: 0.5px;
    -moz-letter-spacing: 0.5px;
    -ms-letter-spacing: 0.5px;
    letter-spacing: 0.5px;
    white-space: nowrap;
    background: black;
    padding: 14px 20px;
    border-radius: var(--border-radius);
    display: inline-block;
    -webkit-transition: .2s ease-out all;
    transition: .2s ease-out all;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 1px 0 rgb(0 0 0 / 5%), 0 1px 3px rgb(0 0 0 / 10%);
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    border: none;
  }

  .btn-sale{
      background-color: white;
      color: black;
      margin-left: 5px;
  }

  .slide-container{
    background-image: linear-gradient(210deg,#943CFF 0%,#DD45D3 40.13%,#FC9A57 90%);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .center{
    display: grid;
    place-items: center;
  }

  .slide-container img{
    /* border-radius: 10px; */
    border: 15px solid white;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    margin: 0 10px;
  }

  .container-content{
    display: grid;
    place-items: center;
  }

  .content-name{
    background-color: rgba(0, 0, 0, 0.226);
    border-radius: 25px;
    padding: 3px 10px;
    margin-top: 15px;
    color: white;
    font-weight: 600 ;
  }

  .logos{
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
  }

  .logo{
    display: grid;
    width: 90px;
    height: 60px;
    padding: 15px;
    align-items: center;
  }

  .js-center{
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 1px #88888821;
  }

  .waymo, .uber, .lyft{
    width: 40px;
    height: 40px;
  }

  .product{
    display: grid;
    place-items: center;
    padding: 20px;
  }

  .product-heading{
    font-size: 40px;
    margin-top: 20px;
  }

  .product-details{
    font-size: 20px;
    color: gray;
    margin-top: 20px;
  }

  .product-type{
    display: flex;
    justify-content: center;
  }

  .products-type{
    padding: 2px 10px;
    font-weight: 700;
    color: gray;
    font-size: 20px;
  }

  .com-vision{
    display: grid;
    place-items: center;
    color: rgb(19, 86, 112);
  }

  .com-vision .products-type{
    color: #247eff;
  }
  .sub-types{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    
  }
  .sub-type{
    background-color: rgba(0, 0, 0, 0.082);
    border-radius: 25px;
    padding: 3px 10px;
    margin-top: 15px;
    color: #6676a4;
    font-weight: 600;
    margin: 0 10px;
    display: grid;
    place-items: center;
    font-size: 15px;
  }

  .self-driving-cars{
    background-color: #247eff;
    color: white;
  }

  .product-items{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .product-items ul{
    /* width: 85%; */
  }

  .product-items ul li{
    width: 105px;
    line-height: 30px;
    color: #6676a4;
  }
  .product-items ul li span{
    color: #6676a4;
  }

  .instruction{
    display: flex;
    justify-content: center;
  }

pre{
  /* display:block;overflow-x:auto;padding:0;margin:0;line-height:2;background:transparent;color:black */
}
code{
  padding: 0;
  width: 400px;
  height: 400px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.code{
  display: flex;
  justify-content: center;
 
}

  .code-block, .code-run{
    display: flex;
    align-items: flex-end;
    /* margin-left: -350px; */
    
    
  }

  .code-run{
      /* display:block;overflow-x:auto;padding:0;margin:0;line-height:2;background:transparent;color:black */

  }

  .code-block span{
    margin: 0;
    padding: 0;
    line-height: 1.;
  }
  
  pre{
    display: block;
    overflow-x: auto;
    padding: 0;
    margin: 0;
    line-height: 2;
    background: transparent;
    color: black;
  }

  code{
    text-align: left;
  }

  .code button{
    height: 40px;
  }

  .ide{
    background-color: black;
    height: 400px;
    width: 500px;
  }


  /* ................... */

  .how-it-works{
    display: flex;
    padding: 100px 200px;
    background-color: #f5f9fa;
  }

  .how-it-works div{
    width: 300px;
    line-height: 35px;
    font-size: 16px;
    color: gray;
  }

  .how-it-works div h1{
    color: black;
  }

  .how-it-works a{
    color: #247eff;
    font-weight: 700;
    border: none;
    font-size: 20px;
    background-color: transparent;
    margin: 0;
    padding: 0;
    justify-self: start;
  }

  .developed-product{
    width: 55%;
    display: flex;
    padding: 100px;
    
  }

  .feature{
    width: 33.3%;
    margin: 0 10px;
  }

  .developed-product p{
    color: gray;
  }

  .developed-product h5{
    color: #6A10EA;
    font-size: 20px;
  }

  .sale-colab{
    display: grid;
    place-items: center;
  }

  .txt1{
    font-size: 22px;
    color: #DD45D3;
    padding: 20px;
    font-weight: 600;
  }

  .txt2{
    font-size: 30px;
    color: black;
    padding: 20px;
    font-weight: 700;
  }
  .txt3{
    font-size: 20px;
    color: #586371;
    padding: 20px;
    /* font-weight: 700; */
  }
  .txt4{
    font-size: 20px;
    color: #0076FF;
    padding: 20px;
    font-weight: 700;
  }

  .dataset{
    padding: 70px 90px;
    background-color: #F5F9FA;
  }

  .dataset-logos{
    /* margin-top: 40px; */
    
  }

  .dataset-logos img{
    margin: 20px;
    box-shadow:0 50px 100px -30px rgba(0, 0, 0, 0.5)
  }

  .companies{
    display: grid;
    place-items: center;
    grid-gap: 10px;
    margin-top: 40px;
  }

  .companies .logos{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 50px;
  }

  .companies .logo{
    width: 100px;
  }

  .companies   .waymo, .uber, .lyft{
    width: 60px;
    height: 40px;
  }

  .quotes-container{
    background-color: #f5f9fa;
  }

  .review{

    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    grid-gap: 20px;
    width: 60%;
    padding: 100px 0;
  }

  .review video{
    border-radius: 10px;
    width: 100%;
  }

  .review p{
    /* width: 90%; */
    line-height: 30px;
    color: gray;

  }

  .brand-review{
    display: grid;
    place-items: center;
    align-items: start;
  }

  .brand{
    padding: 5px 0 20px 0;
  }
  .quote{
    width: 75%;
    display: grid;
    padding : 26px 24px 16px 24px;
    background-color: #ffffff;
    border-radius: 10px;
    /* place-items: center; */
    box-shadow: 0px 1px 75px #88888821;
  }

  .case-study{
    height: 50px;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.068);
    width: 100%;
    font-weight: 700;
    color: #247eff;
    /* font-size: 22px; */
  }

  .quote span{

  }

  .customer{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: -250px;
  }


  .circle{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
  }

  .customer-details{
    margin-left: 20px;
  }

  .customer-details p{
    /* margin-left: 10px; */
    line-height: 10px;
    font-weight: 600;
  }

  .customer-name{
    color: #26334B !important ;
    font-size: 17px !important;
  }

  .customer-position{
    color: #0a50ff !important;
    font-size: 13px !important;
  }

  .grow{
    display: flex;
    width: 55%;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 700px;
  }

  .grow-div{
    width: 48%;
    height: 500px;
  }

  .grow-txt{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .grow-txt h2{
    font-size: 36px;
    font-weight: 500;
    line-height: 1.7;
    margin: 10px 0 0;
    display: grid;
    place-items: center;
    align-items: center;
  }

  .grow-txt p{
    font-size: 20px;
    line-height: 2.4;
    margin-top: 6px;
    color: #586371;
  }

  .team{
    /* display: grid;
    place-items: center; */
    box-shadow: 0 10px 40px -10px rgba(0,0,0,.2);
    border-radius: 10px;

  }

  .field{
    width: 100%;
  }

  .field ul{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    place-items: center;
  }

  .field ul li{
    display: grid;
    place-items: center;
    margin: 20px;
  }

  .team-heading{
    width: 100%;
    display: grid;
    place-items: center;
    border-bottom: 1px solid gainsboro;
  }
  .team h3{
    /* width: 100%; */
    justify-content: center;
    height: 25px;
    
  }

  .wrapper{
    display: flex;
    align-items: center;
  }

  .button{
    font-size: 24px;
    color: #247eff;
  }

  .arrow{
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  .lebels{
    display: flex;
  }

  .btn-wrapper{
    display: flex;
  }

  .lebels{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(112, 128, 144, 0.062);
    border-bottom: 1px solid rgba(112, 128, 144, 0.062);
  }

  .lable-content h2{
    font-size: 24px;
    font-weight: normal;
    background: linear-gradient(to right, #943CFF, #DD45D3, #FD9D52);
    background-image: linear-gradient(to right, #943CFF, #DD45D3, #FD9D52);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 20px;
  }

  .btn1{
    /* width: 120px; */
    margin-left: 20px;
    
  }


  .footer{
    width: 60%;
  }

  .footer-element{
    display: flex;
    flex-direction:column !important;
    align-items: flex-start;
    /* width: 12%; */
    margin: 0 10px;
  }

  .footer-element h5{
    margin-left: 15px;
    font-size: 13px;
  }

  .footer-element ul{
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
    margin-bottom: 30px;
  
  }


  .footer-element ul li a{
   font-size: 13px;
   font-weight: 400;
   color: #586371;
   line-height: .7;
  }

  .footer-logo{
    width: 75px;
    margin-top: 20px;
  }
  .footer-element p{
    color: #586371;
    line-height: 1.5;
    font-size: 14px;
  }

  .paragraph{
    margin-top: 25px;
  }

  .social-icons{
    display: flex;
    align-items: center;
    
  }

  .icon{
    padding: 5px;
    background-color: beige;
    margin: 0 5px;
    border-radius: 5px;
  }


  .copy-right{
    height: 90px;
    color: #586371;
    display: flex;
    justify-content: center;
    padding: 10px ;
    border-top: 1px solid rgba(128, 128, 128, 0.034);
    margin-top: 10px;
  }

  .copy-right div{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }













